body {
  font-size: 1.1em;
}

input {
  text-align: center;
  border-radius: 5px;
  font-size: x-large;
  padding: 5px;
  margin: 2px;
}

.container,
.window-container,
.footer {
  border: solid;
  width: auto;
}

.title {
  display: inline-block;
}

.window-container,
.title-container {
  display: flex;
  position: relative;
  align-items: center;
  border: solid;
}

form {
  display: inline-block;
  align-items: center;
}
fieldset {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  align-items: center;
}

input {
  text-align: center;
}

.message-box {
  height: 1.1em;
  text-align: center;
}

.hide {
  display: none;
}

.selection-container {
  display: inline;
}

button {
  width: 140px;
  height: 50px;
  text-align: center;
  line-height: 1.1em;
  font-size: 1.1em;
  border-radius: 5%;
  margin: 6px;
}

.storage-option {
  display: inline;
  float: right;
}

.storage-option:hover {
  background-color: antiquewhite;
}

.storage-option-container {
  position: absolute;
  right: 5px;
}
