/* Site colors:

Background: #EEE2DC
Buttons: #EDC7B7
Text: #AC3B61 and #123C69
Title? #BAB2B5
*/

body {
  font-size: 1.1em;
  font-family: Montserrat;
  background: #eee2dc;
  text-decoration-color: #123c69;
}

input {
  text-align: center;
  border-radius: 5px;
  font-size: x-large;
  padding: 5px;
  margin: 2px;
  background: #eee2dc;
}

h1,
h3,
p {
  color: #123c69;
}

.header-title {
  margin-left: 5px;
}

input:focus {
  background: #bab2b5;
}

.container {
  border: solid;
  width: auto;
  margin: 5px;
}

.title {
  display: inline-block;
}

.title-container {
  display: flex;
  position: relative;
  align-items: center;
  border: solid;
  margin: 5px;
}

form {
  display: inline-block;
  align-items: center;
}
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: none; */
}

fieldset {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  align-items: center;
}

input {
  text-align: center;
}

.message-box {
  height: 1.1em;
  text-align: center;
}

.selection-container {
  display: inline;
}

.button {
  width: 140px;
  height: 50px;
  text-align: center;
  line-height: 1.1em;
  font-size: 1.1em;
  border-radius: 5%;
  margin: 6px;
  background: #edc7b7;
}

.storage-option {
  display: inline;
  float: right;
}

.button:hover {
  background-color: antiquewhite;
}

.storage-option-container {
  position: absolute;
  right: 5px;
}

/* Library Display Card */

img {
  max-width: 90px;
  margin: 10px;
  border: solid;
  border-radius: 5px;
  align-self: center;
}

.pic-container {
  display: flex;
  flex-direction: column;
  float: right;
}

.read-status,
.dot {
  margin: 5px 10px 5px 10px;
  display: flex;
}

.dot {
  border-radius: 100%;
  width: 17px;
  height: 17px;
  background-color: #ac3b61;
}

.title {
  margin: 5px 5px 3px 5px;
}

.author,
.pages {
  margin: 0px 5px;
  display: block;
  text-align: right;
}

.button-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  right: 10px;
}

.hidden {
  display: none;
}

.author::before {
  content: "- ";
}

.card-title-container {
  /* border: solid yellow; */
  margin: 5px 0px 0px 5px;
  min-width: 60%;
  border-radius: 10px;
  display: inline-block;
}
.id {
  margin-bottom: 3px;
  position: relative;
  bottom: 8px;
  left: 5px;
}
.card {
  border: solid;
  border-radius: 20px;
  height: 120px;
  margin: 6px;
  background: #bab2b5;
  box-shadow: 5px 7px 15px #edc7b7;
}

.status {
  margin: 8px 0px 0px 5px;
  border: solid;
  border-radius: 5px;
  display: inline-flex;
  justify-content: space-between;
  vertical-align: top;
  min-width: 80px;
}
.status:hover {
  background-color: antiquewhite;
}

.read-status::after {
  content: "Read";
  pointer-events: none;
}

.read {
  background-color: green;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.form-container {
  flex: 1 0 auto;
}

footer {
  background-color: #edc7b7;
  color: #bbb;
  border: #123c69;
}

body > .container {
  flex-basis: auto;
  flex: 1;
}
.masterContainer > footer {
  height: 44px;
  width: 100%;
}

@media only screen and (max-width: 620px) {
  body {
    background-color: lightblue;
  }

  img {
    display: none;
  }

  .pic-container {
    position: relative;
    bottom: 30%;
  }
}

/* Move buttons */
@media only screen and (max-width: 530px) {
  .title-container {
    display: flex;
    flex-direction: column;
  }

  .storage-option-container {
    position: sticky;
  }
}
