/* Site colors:

Background: #EEE2DC
Buttons: #EDC7B7
Text: #AC3B61 and #123C69
Title? #BAB2B5
*/

body {
  font-size: 1.1em;
  font-family: Montserrat;
  background: #eee2dc;
  text-decoration-color: #123c69;
}

input {
  text-align: center;
  border-radius: 5px;
  font-size: x-large;
  padding: 5px;
  margin: 2px;
  background: #eee2dc;
}

h1,
h3,
p {
  color: #123c69;
}

.cat-photo {
  position: absolute;
  right: 0px;
  top: 110px;
  border: none;
}

.header-title {
  margin-left: 5px;
}

input:focus,
input:hover {
  background: #edc7b7;
}

.container {
  border: solid;
  width: auto;
  margin: 5px;
}

.title {
  display: inline-block;
}

form {
  display: inline-block;
  align-items: center;
}
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
}

.form {
  border-radius: 8px;
  box-shadow: 0 8px 12px 1px rgba(29, 17, 51, 0.04),
    0 3px 16px 2px rgba(9, 32, 77, 0.12), 0 5px 10px -3px rgba(29, 17, 51, 0.12);
}

.edit-mode {
  box-shadow: 0 8px 12px 1px rgba(214, 4, 4, 0.04), 0 3px 16px 2px red,
    0 5px 10px -3px red;
}
fieldset {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  align-items: center;
}

input {
  text-align: center;
}

.message-box {
  height: 1.1em;
  text-align: center;
  position: relative;
  overflow: hidden;
}

p.message-box {
  color: white;
}

.selection-container {
  display: inline;
}

.button {
  flex: 1 1 0px;
  text-align: center;
  line-height: 1.1em;
  font-size: 1.1em;
  border-radius: 5%;
  margin: 6px;
  background: #edc7b7;
}

.storage-option-container {
  display: flex;
}

.storage-option {
  display: inline;
  float: right;
}

.button:hover {
  background-color: antiquewhite;
}

/* Library Display Card */

img {
  max-width: 100%;
  max-height: 100%;
  max-width: 90px;
  margin: 10px;
  border: solid;
  border-radius: 5px;
  align-self: center;
}

.pic-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 5px;
}

.read-status,
.dot {
  margin: 5px 10px 5px 10px;
  display: flex;
}

.dot {
  border-radius: 100%;
  width: 17px;
  height: 17px;
  background-color: #ac3b61;
  flex-shrink: 0;
}

.title {
  margin: 5px 5px 3px 5px;
}

.author,
.pages {
  margin: 0px 5px;
  display: block;
  text-align: right;
}

.button-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}

.card.hidden {
  display: none;
}

.author::before {
  content: "- ";
}

.card-title-container {
  /* border: solid yellow; */
  margin: 5px 0px 0px 5px;
  min-width: 60%;
  border-radius: 10px;
  display: inline-block;
}
.id {
  margin-bottom: 3px;
  position: relative;
  bottom: 8px;
  left: 5px;
}
.card {
  border: solid;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  height: 120px;
  margin: 6px;
  background: #bab2b5;
  box-shadow: 0 8px 12px 1px rgba(29, 17, 51, 0.04),
    0 3px 16px 2px rgba(9, 32, 77, 0.12), 0 5px 10px -3px rgba(29, 17, 51, 0.12);
}

.card-button {
  box-sizing: border-box;
  width: 30px;
  margin: 0px;
  background-color: rgb(255, 230, 226);
}

.card-button.clone {
  padding: 5px;
}

.card-button:hover {
  color: black;
}

.card-pic {
  margin: 0px;
}
.status {
  margin: 8px 0px 0px 5px;
  border: solid;
  border-radius: 5px;
  display: inline-flex;
  min-width: 80px;
  align-self: flex-start;
}
.status:hover {
  background-color: antiquewhite;
  color: black;
}

.read-status::after {
  content: "Read";
  pointer-events: none;
}

.read {
  background-color: green;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: #ac3b61;
}

footer {
  background-color: #ac3b61;
  color: #bbb;
  border: #123c69;
}

body > .container {
  flex-basis: auto;
  flex: 1;
}
.masterContainer > footer {
  height: 44px;
  width: 100%;
}

@media only screen and (max-width: 635px) {
  body {
    background-color: lightblue;
  }

  img {
    display: none;
  }
}

@media only screen and (max-width: 530px) {
  .read-status {
    display: none;
  }
  .status {
    justify-content: center;
  }
}

/* Move buttons */
@media only screen and (max-width: 530px) {
  .title-container {
    display: flex;
    flex-direction: column;
  }

  .storage-option-container {
    position: sticky;
  }

  h1 {
    margin-bottom: 5px;
  }
}

.navbar {
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  border-bottom: solid;
}

.navbar > h2,
.dropbtn > h2 {
  margin: 20px;
  color: white;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #ac3b61;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.display {
  display: block;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  white-space: pre-wrap;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
